{extend name='public/base' /}
{block name='css'}
{include file='public/bootstrap' /}
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
{/block}

{block name='body'}
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbarDemo">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i
                    class="fa fa-plus"></i> 添加
            </button>
        </script>
        <form class="layui-form layuimini-form" lay-filter="customer-add-form" action="">
            <input type="hidden" name="area_id" value="{$house.area_id}" />
            <input type="hidden" name="id" value="{$house.id}" />
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">房屋基础信息</li>
                    <li>现场照片</li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">
                      <div class="page1">
                          <div class="layui-font-20 py-4 mb-2 layui-font-blue">一，房屋基本信息调查</div>
                          <div class="">
                             <div class="layui-col-lg6">
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="title">房屋名称:</label>
                                     <div class="layui-input-block" id="title">
                                         <input type="text" name="title"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.title}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="space">面积/层数:</label>
                                     <div class="layui-input-block" id="space">
                                         <input type="text" name="space"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.space}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="height">建筑物高度:</label>
                                     <div class="layui-input-block" id="height">
                                         <input type="text" name="height"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.height}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="design_time">设计时间:</label>
                                     <div class="layui-input-block" id="design_time">
                                         <input type="text" name="design_time" id="design_date"  value="{$house.design_time}"
                                                placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"
                                         >
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="completion_time">竣工日期:</label>
                                     <div class="layui-input-block" id="completion_time">
                                         <input type="text" name="completion_time" id="completion_date"
                                                value="{$house.completion_time}"
                                                placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"
                                         >
                                     </div>
                                 </div>
                             </div>
                             <div class="layui-col-lg6">
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="code">房屋编码:</label>
                                     <div class="layui-input-block" id="code">
                                         <input type="text" name="code"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.code}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="address">房屋地址:</label>
                                     <div class="layui-input-block" id="address">
                                         <input type="text" name="address"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.address}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="galleryful">使用人数:</label>
                                     <div class="layui-input-block" id="galleryful">
                                         <input type="text" name="galleryful"  placeholder="0"
                                                autocomplete="off" class="layui-input" value="0{$house.galleryful}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="design_company">设计单位:</label>
                                     <div class="layui-input-block" id="design_company">
                                         <input type="text" name="design_company"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.design_company}">
                                     </div>
                                 </div>
                                 <div class="layui-form-item">
                                     <label class="layui-form-label" for="build_company">施工单位:</label>
                                     <div class="layui-input-block" id="build_company">
                                         <input type="text" name="build_company"  placeholder=""
                                                autocomplete="off" class="layui-input" value="{$house.build_company}">
                                     </div>
                                 </div>
                             </div>
                              <div class="layui-col-lg12">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label" for="contact">房屋安全责任人及联系方式:</label>
                                      <div class="layui-input-block" id="contact">
                                          <input type="text" name="contact"  placeholder=""
                                                 autocomplete="off" class="layui-input" value="{$house.contact}">
                                      </div>
                                  </div>
                              </div>
                              <div class="layui-col-lg12">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label" for="house_usage">现有使用功能:</label>
                                      <div class="layui-input-block" id="house_usage">
                                          {foreach ($houseUsageList as $key => $val)}
                                          <input type="checkbox" lay-skin="primary" name="house_usage[]" value="{$key}" title="{$val}" {if !empty($house.house_usage) && in_array($key, $house.house_usage)}checked{/if}>
                                          {/foreach}
                                          <label>
                                              <input type="text" name="house_usage_other" value="{$house.house_usage_other}" placeholder="其他">
                                          </label>
                                      </div>
                                  </div>
                              </div>
                              <div class="layui-col-lg12">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label" for="structure">结构形式:</label>
                                      <div class="layui-input-block" id="structure">
                                          <input type="radio" lay-skin="primary" name="structure" value="1" title="剪力墙">
                                      </div>
                                  </div>
                              </div>
                              <div class="layui-col-lg12">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label" for="basis_type">基础类型:</label>
                                      <div class="layui-input-block" id="basis_type">
                                          <input type="radio" lay-skin="primary" name="basis_type" value="1" title="天然或独立基础">
                                      </div>
                                  </div>
                              </div>
                              <div class="layui-col-lg12">
                                  <div class="layui-form-item">
                                      <label class="layui-form-label" for="related_data">相关资料:</label>
                                      <div class="layui-input-block" id="related_data">
                                          <input type="radio" lay-skin="primary" name="related_data" value="1" title="完整建筑结构设计图纸">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                        <div class="page2 border-top">
                            <div class="py-4 mb-2">
                               <div class="layui-font-20 layui-font-blue"> 二，房屋使用安全排查</div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" id="house_safety_investigation">
                                        <input type="radio" name="house_safety_investigation" value="1" title="危险">
                                        <input type="radio" name="house_safety_investigation" value="2" title="潜在危险">
                                        <input type="radio" name="house_safety_investigation" value="3" title="暂无危险">
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="layui-col-lg6">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" for="is_usage_change">使用功能:</label>
                                            <div class="layui-input-block" id="is_usage_change">
                                                <input type="radio" lay-skin="primary" name="is_usage_change" value="2" title="无改变">
                                                <input type="radio" lay-skin="primary" name="is_usage_change" value="1" title="改变">
                                                <label>
                                                    由：<input type="text" name="is_usage_change_from" value="" placeholder="由...">
                                                    改变为：<input type="text" name="is_usage_change_to" value="" placeholder="改变为...">
                                                </label>
                                            </div>
                                        </div>
                                </div>
                                <div class="layui-col-lg6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="is_usage_onus">使用荷载:</label>
                                        <div class="layui-input-block" id="is_usage_onus">
                                            <input type="radio" lay-skin="primary" name="is_usage_onus" value="2" title="无明显增加">
                                            <input type="radio" lay-skin="primary" name="is_usage_onus" value="1" title="明显增加">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-lg-12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="house_extension">加建:</label>
                                        <div class="layui-input-block" id="house_extension">
                                            <input type="checkbox" lay-skin="primary" name="house_extension[]" value="1" title="房屋顶部有加建">
                                            <input type="checkbox" lay-skin="primary" name="house_extension[]" value="2" title="房屋底层有夹层加建">
                                            <input type="checkbox" lay-skin="primary" name="house_extension[]" value="3" title="房屋底层开挖地下室">
                                            <input type="checkbox" lay-skin="primary" name="house_extension[]" value="9" title="无">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-lg-12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="house_change">改建:</label>
                                        <div class="layui-input-block" id="house_change">
                                            <input type="radio" name="house_change" value="1" title="有">
                                            <div>
                                                <label>
                                                    <input type="text" name="house_change_floor" value="" placeholder="拆除第几层的">
                                                </label>
                                                <input type="checkbox" lay-skin="primary" name="house_change_floor_data" value="1" title="承重墙">
                                            </div>
                                            <input type="radio" name="house_change" value="2" title="存在新增洞口">
                                            <input type="radio" name="house_change" value="9" title="无">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-lg-12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="is_house_has_scourge">灾害影响:</label>
                                        <div class="layui-input-block" id="is_house_has_scourge">
                                            <div>房屋是否受过火灾等外力损害：</div>
                                            <input type="radio" name="is_house_has_scourge" value="1" title="是">
                                            <input type="radio" name="is_house_has_scourge" value="2" title="否">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page3 border-top">
                            <div class="py-4 mb-2">
                                <div class="layui-font-20 layui-font-blue"> 三，房屋周边环境安全排查</div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" id="periphery_safety_investigation">
                                        <input type="radio" name="periphery_safety_investigation" value="1" title="危险">
                                        <input type="radio" name="periphery_safety_investigation" value="2" title="潜在危险">
                                        <input type="radio" name="periphery_safety_investigation" value="3" title="暂无危险">
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="layui-col-lg12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="is_periphery_excavation">房屋周边是否有开挖土方:</label>
                                        <div class="layui-input-block" id="is_periphery_excavation">
                                            <input type="radio" name="is_periphery_excavation" value="1" title="是" {if ($house.is_periphery_excavation === 1)}checked{/if}>
                                            <input type="radio" name="is_periphery_excavation" value="2" title="否" {if ($house.is_periphery_excavation === 2)}checked{/if}>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-lg12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"
                                               for="is_periphery_construction">房屋周边是否有地铁、管廊、隧道等工程施工:</label>
                                        <div class="layui-input-block" id="is_periphery_construction">
                                            <input type="radio" name="is_periphery_construction" value="1" title="是" {if ($house.is_periphery_construction === 1)}checked{/if}>
                                            <input type="radio" name="is_periphery_construction" value="2" title="否" {if ($house.is_periphery_construction === 2)}checked{/if}>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-lg-12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="is_periphery_hillside">房屋周边是否有山体或边坡:</label>
                                        <div class="layui-input-block" id="is_periphery_hillside">
                                            <input type="radio" name="is_periphery_hillside" value="1" title="是" {if ($house.is_periphery_hillside === 1)}checked{/if}>
                                            <input type="radio" name="is_periphery_hillside" value="2" title="否" {if ($house.is_periphery_hillside === 2)}checked{/if}>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-lg-12">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" for="is_periphery_sink">房屋周边地面是否有塌陷:</label>
                                        <div class="layui-input-block" id="is_periphery_sink">
                                            <input type="radio" name="is_periphery_sink" value="1" title="是" {if ($house.is_periphery_sink === 1)}checked{/if}>
                                            <input type="radio" name="is_periphery_sink" value="2" title="否" {if ($house.is_periphery_sink === 2)}checked{/if}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item container">
                        <div class="d-none" id="infos">{:json_encode($infos)}</div>
                        {foreach ($infos as $key => $val)}
                        <div class="d-none" id="{$key}_data">{:json_encode($house[$key])}</div>
                        {/foreach}

                                <div class="infos-content" id="app">
                                </div>


                    </div>

                </div>

            </div>
            <!--                        提交-->
            <div class="layui-form-item">
                <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                        lay-filter="add">完 成
                </button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name='js'}
<script src="https://unpkg.com/vue@2.6.13/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    layui.use(['jquery', 'layer', 'form', 'element', 'laydate', 'upload'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            element = layui.element,
            upload = layui.upload,
            form = layui.form;
        let frameIndex = parent.layer.getFrameIndex(window.name);
        let option = { icon: 0 };

        let makeHtml = function (index, item, data = null) {
            let item_container = index + '_container', cont = $('.' + item_container), i = cont.children().length;
            cont.append($('<div />', {
                class: 'layui-row layui-col-space15'
            }).append($('<div />', {
                class: 'layui-col-md6'
            }).append($('<div />', {
                class: 'layui-form-item'
            }).append($('<div />', {
                class: 'layui-input-block m-0'
            }).append($('<textarea />', {
                name: index + '[description][]',
                class: 'layui-textarea',
                rows: 5,
                placeholder: '描述',
                text: data?.description
            }))))).append($('<div />', {
                class: 'layui-col-md6'
            }).append($('<div />', {
                style: 'display: flex; flex-direction: row; justify-content: start',
                class: 'layui-upload',
            }).append($('<div />', {
                class: 'layui-upload-list w-25 h-25 text-center my-0 ' + index + '-img-' + i
            }).append($('<img />', {
                style: 'height: 80px',
                src: data?.image,
            })).append($('<input />', {
                type: 'hidden',
                name: index + '[image][]',
                value: data?.image
            })).append($('<p />', { class: index + '_tip' }))).append($('<div />', {
                style: 'display: flex; flex-direction: row; justify-content: start'
            }).append($('<button />', {
                text: '上传图片',
                type: 'button',
                id: index + '_upload_' + i,
                class: 'layui-btn layui-btn-primary layui-btn-sm me-2',
            })).append($('<button />', {
                class: 'layui-btn layui-btn-danger layui-btn-sm delete-info',
                text: '删除',
                type: 'button',
                click: function () {
                    $(this).parentsUntil('.' + item_container).remove()
                }
            }))))));
            // 图片放大 你个猪八戒
            layer.photos({
                photos: '.' + index + '-img-' + i,
                anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });

            // 图片缩放 mousewheel DOMMouseScroll ".layui-upload-list img",
            // $(document).on("mousewheel DOMMouseScroll", function (e){
            //     console.log('pppppp', e)
            //     var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1:-1)) ||
            //         (e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1:1));
            //     var imagep = $(".layui-upload-list").parent().parent();
            //     var image = $(".layui-upload-list").parent();
            //     var h = image.height();
            //     var w = image.width();
            //     if(delta > 0){
            //         if(h<(window.innerHeight)){
            //             h = h*1.05;
            //             w = w*1.05;
            //         }
            //     } else if(delta < 0){
            //         if(h > 100){
            //             h = h*0.95;
            //             w = w*0/95;
            //         }
            //     }
            //     imagep.css("top", (window.innerHeight - h) / 2);
            //     imagep.css("left", (window.innerWidth - w) / 2);
            //     image.height(h);
            //     image.width(w);
            //     imagep.height(h);
            //     imagep.width(w)
            // })

            let uploadInst = upload.render({
                elem: '#' + index + '_upload_' + i,
                url: '{:url("/house/upload")}',
                accept: 'images',
                before: function (obj) {
                    const el = this.item;
                    $(this.item).siblings('.upload-image').html('')
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        el.parentsUntil('.' + item_container).find('img').attr('src', result);
                    });
                },
                done: function (res) {
                    if (res.code === 1) {
                        option.icon = 1;
                        this.item.parentsUntil('.' + item_container).find('input[name="' + index + '[image][]"]').val(res.data.savePath);
                    }

                    return layer.msg(res.msg, option)
                },
                error: function () {
                    //演示失败状态，并实现重传
                    let demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                },
            });
        };
        let infos = JSON.parse($('#infos').text())
        $.each(infos, function (index, item) {
            let div = $('<div />', { class: index + '_row row' }),
                container = $('.infos-content'),
                item_container = index + '_container';

            div.append($('<div />', { class: 'col-12' }).append($('<div />', {
                class: 'mb-4'
            }).append($('<div />', {
                class: 'layui-font-18 text-black',
                text: item
            }).append($('<button />', {
                class: 'layui-btn layui-btn-normal layui-btn-xs',
                type: 'button',
                id: index,
                text: '添加',
                title: '添加',
                click: function () {
                    makeHtml(index, item)
                }
            })))).append($('<div />', {
                class: item_container
            })));

            div.appendTo(container);
            //
            // new Vue({
            //     el: '#app',
            //     data(){
            //         return{
            //
            //         }
            //     }
            // })
            let info_data = JSON.parse($('#' + index + '_data').text());
            $.each(info_data, function (info_index, info_item) {
                makeHtml(index, item, info_item)
            })
        });

        // 提交
        form.on('submit(add)', function (data) {
            console.log(data.field)
            $.post("{:url('/house/update')}", data.field, function (res) {
                if (res.code === 1) {
                    option.icon = 6

                    layer.msg(res.msg, option, function () {
                        parent.layer.close(frameIndex);
                        parent.layui.table.reload('currentTable', {
                            page: {
                                curr: 1
                            }
                        });
                    });
                } else {
                    layer.msg(res.msg, option);
                }
            });

            return false;
        });
    })
</script>
<script>

</script>
{/block}
