{extend name='public/base' /}
{block name='css'}
{include file='public/bootstrap' /}
{/block}

{block name='body'}
<div class="container-fluid">
    <div class="row mb-3 shadow-sm bg-white rounded">
        <div class="col pt-3">
            <form class="layui-form layui-form-pane" lay-filter="searchForm" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">区域</label>
                        <div class="layui-input-inline">
                            <select name="area_id" lay-filter="areaFilter">
                                <option value="0">全部</option>
                                {foreach $areaList as $key => $val}
                                <option value="{$val.id}">{$val.title}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layuimini-container">
    <div class="layuimini-main">
        <button type="button" class="layui-btn layui-btn-sm data-count-edit layui-btn-normal d-none" id="importExcel">导入客户</button>
        <script type="text/html" id="toolbarDemo">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i
                    class="fa fa-plus"></i> 添加
            </button>
<!--            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importExcel"><i class="fa fa-file-import"></i> 导入客户</button>-->
        </script>
        <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
            <thead>
            <tr>
                <th lay-data="{field: 'id', title: '编号', width: 100}"></th>
                <th lay-data="{field: 'code', title: '编码'}"></th>
                <th lay-data="{field: 'title', title: '名称', edit: 'text'}"></th>
                <th lay-data="{field: 'area_title', title: '所属区域'}"></th>
                <th lay-data="{field: 'address', title: '地址'}"></th>
                <th lay-data="{field: 'create_time', title: '创建时间'}"></th>
                <th lay-data="{title: '操作', width: 150, toolbar: '#currentTableBar', align: 'center', fixed: 'right'}"></th>
            </tr>
            </thead>
        </table>
        <script type="text/html" id="currentTableBar">
            <a href="javascript:;" class=" text-decoration-none " lay-event="rate" title="评级">
                评级
            </a>
            <a href="javascript:;" class="text-decoration-none  data-count-edit" lay-event="edit" title="编辑">
                编辑
            </a>
            <a href="javascript:;" class="text-decoration-none  data-count-delete" lay-event="delete" title="删除">
                删除
            </a>
        </script>

    </div>
</div>
{/block}

{block name='js'}
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'upload'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            upload = layui.upload,
            form = layui.form;

        let option = { icon: 0 }, area_id = 0;

        table.init('currentTableFilter', {
            url: '{:url("/house/getHouseList")}',
            id: 'currentTable',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        })

        let reloadTable = function (params = {}) {
            //执行搜索重载
            table.reload('currentTable', {
                page: {
                    curr: 1
                },
                where: params
            }, false);
        }
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            reloadTable(data.field)

            return false
        });
        $('button[type="reset"]').on('click', function () {
            reloadTable({})
        })

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            let area = $('select[lay-filter="areaFilter"]')

            if (parseInt(area.val()) <= 0) {
                option.icon = 2
                layer.msg('请选择区域', option)
                return false
            }
            switch (obj.event) {  // 监听添加操作
                case 'add':
                    let index = layer.open({
                        title: '添加',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/House/create")}?area_id=' + area.val(),
                    });
                    break;

                case 'importExcel':
                    area_id = area.val()
                    $('#importExcel').click();
                    break;
            }
        });

        let update = function (param) {
            $.post('{:url("/house/update")}', param, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        }

        // 单元格编辑
        table.on('edit(currentTableFilter)', function (obj) {
            $.post('{:url("/house/update")}', obj.data, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        });

        table.on('tool(currentTableFilter)', function (obj) {
            switch (obj.event) {
                case 'delete':
                    layer.confirm('确认删除数据？', function (index) {
                        $.post("{:url('/house/delete')}", { id: obj.data.id }, function (res) {
                            layer.close(index);
                            if (res.code === 1) {
                                option.icon = 1
                                reloadTable(form.val('searchForm'))
                            }

                            layer.msg(res.msg, option)
                        })
                    });
                    break;

                case 'edit':
                    layer.open({
                        title: '编辑',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/House/edit")}?id=' + obj.data.id,
                    });
                    break;

                case 'rate':
                    layer.open({
                        title: '评级',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/HouseRate/index")}?house_id=' + obj.data.id,
                    });
                    break;
            }
        });

        // 导入
        let loading = null;
        upload.render({
            elem: '#importExcel',
            url: '{:url("/House/importExcel")}',
            data: {
                area_id: function () {
                    return area_id
                },
            },
            accept: 'file', //普通文件
            exts: 'xls|excel|xlsx', //导入表格
            auto: true,  //选择文件后不自动上传
            before: function (obj) {
                loading = layer.load(); //上传loading
            },
            // 选择文件回调
            choose: function (obj) {
            },
            done: function (res) {
                layer.close(loading);
                let icon = 0;
                if (res.code === 1) {
                    icon = 1;
                    reloadTable({ area_id: area_id })
                }

                return layer.msg(res.msg, {icon: icon, time: 3000})
            },
            error: function () {
                setTimeout(function () {
                    layer.msg("上传失败！", {
                        icon: 1
                    });
                    //关闭所有弹出层
                    layer.closeAll(); //疯狂模式，关闭所有层
                }, 1000);
            }
        });
    })
</script>
{/block}
