{extend name='public/base' /}
{block name='css'}
{include file='public/bootstrap' /}
{/block}

{block name='body'}
<div class="container-fluid">
    <div class="row mb-3 shadow-sm bg-white rounded">
        <div class="col pt-3">
            <form class="layui-form layui-form-pane" lay-filter="searchForm" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">区域</label>
                        <div class="layui-input-inline">
                            <select name="area_id" lay-filter="areaFilter">
                                <option value="0">全部</option>
                                {foreach $areaList as $key => $val}
                                <option value="{$val.id}">{$val.title}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">社区</label>
                        <div class="layui-input-inline">
                            <select name="district" lay-filter="districtFilter">
                                <option value="0">全部</option>
                                {foreach $DistrictList as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select name="status" lay-filter="statusFilter">
                                <option value="-1">全部</option>
                                <option value="0">未完成</option>
                                <option value="1">已完成</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">排查员</label>
                        <div class="layui-input-inline">
                            <select name="user_id" lay-filter="userFilter">
                                <option value="0">全部</option>
                                {foreach $userList as $key => $val}
                                <option value="{$val.id}">{$val.username}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">评级人</label>
                        <div class="layui-input-inline">
                            <select name="admin_id" lay-filter="adminFilter">
                                <option value="0">全部</option>
                                {foreach $adminList as $key => $val}
                                <option value="{$val.id}">{$val.username}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">评级状态</label>
                        <div class="layui-input-inline">
                            <select name="rate_status" lay-filter="rateStatusFilter">
                                <option value="-1">全部</option>
                                <option value="0">未评级</option>
                                <option value="1">已评级</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">房屋编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layuimini-container">
    <div class="layuimini-main">
        <button type="button" class="layui-btn layui-btn-sm data-count-edit layui-btn-normal d-none" id="importExcel">导入客户</button>
        <script type="text/html" id="toolbarDemo">
<!--            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i-->
<!--                    class="fa fa-plus"></i> 添加-->
<!--            </button>-->
<!--            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importExcel"><i class="fa fa-file-import"></i> 导入客户</button>-->
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="exportImages"><i class="fa fa-file-import"></i> 下载图片 </button>
        </script>
        <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even></table>
        <script type="text/html" id="currentTableBar">
<!--            <a href="javascript:;" class=" text-decoration-none " lay-event="rate" title="评级">-->
<!--                评级-->
<!--            </a>-->
            <a href="javascript:;" class="text-decoration-none  data-count-edit" lay-event="edit" title="编辑">
                编辑
            </a>
            <a href="javascript:;" class="text-decoration-none  data-count-delete" lay-event="delete" title="删除">
                删除
            </a>
        </script>

    </div>
</div>
{/block}

{block name='js'}
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script>
    layui.use(['jquery', 'layer', 'table', 'form', 'upload'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            upload = layui.upload,
            form = layui.form;
        // console.log(axios);

        let option = { icon: 0 }, area_id = 0;

        window.houseTable = table.render({
            elem: '#currentTableId',
            url: '{:url("/house/getHouseList")}',
            id: 'currentTable',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            cols: [[
                {type: 'checkbox', fixed: 'left' },
                {field: 'id', title: '编号', width: 100},
                {field: 'code', title: '编码'},
                {field: 'title', title: '名称'},
                {field: 'area_title', title: '项目'},
                {field: 'district', title: '社区'},
                {field: 'address', title: '地址'},
                {field: 'user_username', title: '排查人'},
                {field: 'admin_username', title: '评级人'},
                {field: 'status', title: '状态'},
                {field: 'rate_status', title: '评级状态'},
                {field: 'create_time', title: '创建时间'},
                {title: '操作', width: 150, toolbar: '#currentTableBar', align: 'center', fixed: 'right'},
            ]],
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        })

        let reloadTable = function (params = {}) {
            //执行搜索重载
            table.reload('currentTable', {
                page: {
                    curr: 1
                },
                where: params
            }, false);
        }
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            reloadTable(data.field)

            return false
        });

        let url = '{:url("/house/exportImages")}';
        $("body").append($("<form />", {
            class: 'layui-form',
            action: url,
            method: 'post',
            id: 'exportForm',
            'lay-filter': 'exportForm',
        }).append($("<input />", {
            type: 'hidden',
            name: 'ids',
        })));

        const selectList = ['area', 'district', 'status', 'user', 'admin', 'rateStatus']
        $.each(selectList, function (index, item) {
            form.on('select(' + item + 'Filter)', function (data) {
                let params = [];
                params[data.elem.name] = data.value
                params = Object.assign({}, form.val('searchForm'), params)
                reloadTable(params);
            })
        })
        $('button[type="reset"]').on('click', function () {
            reloadTable({})
        })

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            let area = $('select[lay-filter="areaFilter"]')

            if (['add', 'importExcel'].includes(obj.event) && parseInt(area.val()) <= 0) {
                option.icon = 2
                layer.msg('请选择区域', option)
                return false
            }
            switch (obj.event) {  // 监听添加操作
                case 'add':
                    let index = layer.open({
                        title: '添加',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/House/create")}?area_id=' + area.val(),
                    });
                    break;

                case 'importExcel':
                    area_id = area.val()
                    $('#importExcel').click();
                    break;


                case 'exportImages':
                    let checkStatus = table.checkStatus('currentTable').data;

                    if(!checkStatus.length){
                        layer.msg('请选择要下载的文件', option)
                        return false
                    }

                    if(checkStatus.length > 5){
                        layer.msg('最多选择5条数据', option)
                        return false
                    }

                    let ids = Array.from(checkStatus, ({id}) => id);
                    $('form[lay-filter="exportForm"] > input[name=ids]').val(ids.join(','));
                    let f = $('form[lay-filter="exportForm"]');
                    f.submit();
                    break;
            }
        });

        let update = function (param) {
            $.post('{:url("/house/update")}', param, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        }

        // 单元格编辑
        table.on('edit(currentTableFilter)', function (obj) {
            $.post('{:url("/house/update")}', obj.data, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        });

        table.on('tool(currentTableFilter)', function (obj) {
            switch (obj.event) {
                case 'delete':
                    layer.confirm('确认删除数据？', function (index) {
                        $.post("{:url('/house/delete')}", { id: obj.data.id }, function (res) {
                            layer.close(index);
                            if (res.code === 1) {
                                option.icon = 1
                                reloadTable(form.val('searchForm'))
                            }

                            layer.msg(res.msg, option)
                        })
                    });
                    break;

                case 'edit':
                    parent.layer.open({
                        title: '编辑',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/House/edit")}?id=' + obj.data.id,
                    });
                    break;

                case 'rate':
                    $.post('{:url("/House/checkStatus")}', { id: obj.data.id }, function (res) {
                        if (res.code === 1) {
                            layer.open({
                                title: '评级',
                                type: 2,
                                shade: 0.2,
                                maxmin: true,
                                shadeClose: true,
                                anim: 2,
                                area: ['100%', '100%'],
                                content: '{:url("/HouseRate/index")}?house_id=' + obj.data.id,
                            });
                        } else {
                            layer.msg(res.msg, option)
                        }
                    })

                    break;
            }
        });

        // 导入
        let loading = null;
        upload.render({
            elem: '#importExcel',
            url: '{:url("/House/importExcel")}',
            data: {
                area_id: function () {
                    return area_id
                },
            },
            accept: 'file', //普通文件
            exts: 'xls|excel|xlsx', //导入表格
            auto: true,  //选择文件后不自动上传
            before: function (obj) {
                loading = layer.load(); //上传loading
            },
            // 选择文件回调
            choose: function (obj) {
            },
            done: function (res) {
                layer.close(loading);
                let icon = 0;
                if (res.code === 1) {
                    icon = 1;
                    reloadTable({ area_id: area_id })
                }

                return layer.msg(res.msg, {icon: icon, time: 3000})
            },
            error: function () {
                setTimeout(function () {
                    layer.msg("上传失败！", {
                        icon: 1
                    });
                    //关闭所有弹出层
                    layer.closeAll(); //疯狂模式，关闭所有层
                }, 1000);
            }
        });
    })
</script>
{/block}
