{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
<style>
    .logo-title {
        text-align: center;
        letter-spacing: 2px;
        padding: 14px 0;
    }

    .logo-title h1 {
        color: #1E9FFF;
        font-size: 25px;
        font-weight: bold;
    }

    .login-form {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 14px 20px;
        box-shadow: 0 0 8px #eeeeee;
    }

    .login-form .layui-form-item {
        position: relative;
    }

    .login-form .layui-form-item label {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 100px;
        line-height: 20px;
        text-align: center;
        color: #565656;
    }

    .layui-form-item .layui-input-block {
        margin-left: 130px;
    }
</style>
{/block}
{block name="body"}
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col col-lg-8 col-md-10 bg-white">
            <form class="layui-form layuimini-form" action="">
                <input type="hidden" name="id" value="{$rate.id}">
                <div class="layui-form-item logo-title">
                    <h1>评 级</h1>
                </div>

                <div class="layui-form-item border-top">
                    <label class="layui-form-label" for="foundation">地基基础安仝排查:</label>
                    <div class="layui-input-block" id="foundation">
                        <input type="radio" class="layui-input" name="foundation" value="1"  lay-verify="required" title="危险">
                        <input type="radio" class="layui-input" name="foundation" value="2"  lay-verify="required" title="潜在危險">
                        <input type="radio" class="layui-input" name="foundation" value="3"  lay-verify="required" title="暂无危險">
                    </div>
                    <div class="layui-input-block" id="foundation_type">
                        <div>
                            <input type="checkbox" lay-skin="primary" name="foundation_type[]" value="1" title="未发现任何沉降和位移迹象">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="foundation_type[]" value="2" title="室外地面存在裂缝，填充墙产生沉降裂缝，但主体結构未出现沉降裂缝或整体倾斜">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="foundation_type[]" value="3" title="砌体墙单条竖向裂缝宽度大于10mm，或单道墙体产生多条平行的竖向裂缝或斜向裂缝、<br />其中最大裂缝宽度大于 0.5mm">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="foundation_type[]" value="4" title="承重墙体产生贯穿裂缝、混凝土柱产生环状裂缝、梁产生多条平行斜裂缝、剪力墙出现竖向裂缝">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="foundation_type[]" value="5" title="建筑物出现明显傾斜或结构缝处出现严重挤压损伤">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item border-top">
                    <label class="layui-form-label" for="superstructure_safety">上部结构安全排查:</label>
                    <div class="layui-input-block" id="superstructure_safety">
                        <input type="radio" class="layui-input" name="superstructure_safety" value="1"  lay-verify="required" title="危险">
                        <input type="radio" class="layui-input" name="superstructure_safety" value="2"  lay-verify="required" title="潜在危險">
                        <input type="radio" class="layui-input" name="superstructure_safety" value="3"  lay-verify="required" title="暂无危險">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="superstructure_safety_danger">危险:</label>
                    <div class="layui-input-block" id="superstructure_safety_danger">
                        <div>混凝土构件：</div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_danger[]" value="1" title="较多柱、梁、墙和楼板因钢筋锈蚀造成胀裂，缝宽大于1mm或保护层剥落、钢筋外露">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_danger[]" value="2" title="柱有竖向受压裂缝">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_danger[]" value="3" title="柱一侧有宽度大于 1mm 的水平裂缝，另一侧混凝土压碎">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_danger[]" value="4" title="梁跨中下宽上窄的竖向裂缝，裂缝向上延伸达梁高的2/3，且梁底缝宽大于0.5mm">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_danger[]" value="5" title="梁端部有宽度大于 0.4mm 的斜向裂缝">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="superstructure_safety_pre_danger">潜在危险:</label>
                    <div class="layui-input-block" id="superstructure_safety_pre_danger">
                        <div>混凝土构件：</div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_pre_danger[]" value="1" title="柱、梁、板出现裂缝，但为非结构受力裂缝">
                        </div>
                        <div>
                            <input type="checkbox" lay-skin="primary" name="superstructure_safety_pre_danger[]" value="2" title="个别柱、梁和楼板因钢筋锈蚀造成胀裂或保护层剥落、钢筋外露">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="superstructure_safety_danger_other">其他需要说明的危险性问题:</label>
                    <div class="layui-input-block" id="superstructure_safety_danger_other">
                        <textarea name="superstructure_safety_danger_other" class="layui-textarea"
                                  placeholder="请输入其他问题"></textarea>
                    </div>
                </div>

                <div class="layui-form-item border-top">
                    <label class="layui-form-label" for="conclusion">排查结论:</label>
                    <div class="layui-input-block" id="conclusion">
                        <div>
                            <input class="layui-input" type="checkbox" lay-skin="primary" name="conclusion[]" value="1" title="A类建锁物，可继续使用，或仅需对损伤进行处理后可继续使用">
                        </div>
                        <div>
                            <input class="layui-input" type="checkbox" lay-skin="primary" name="conclusion[]" value="2" title="B类建筑物，可观察使用，但应对损伤进行处理，当房屋存在异常情况时应及时进行检测鉴定">
                        </div>
                        <div>
                            <input class="layui-input" type="checkbox" lay-skin="primary" name="conclusion[]" value="3" title="C1类建负物，需采取修繕，加固或拆除加建部分等措施后可消除安全隐患的房屋">
                        </div>
                       <div>
                           <input class="layui-input" type="checkbox" lay-skin="primary" name="conclusion[]" value="4" title="C2类建筑物，需进行检测鉴定的房屋">
                       </div>
                        <div>
                            <input class="layui-input" type="checkbox" lay-skin="primary" name="conclusion[]" value="5" title="C3类建筑物，需立即停止使用的房屋">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item my-5">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                            lay-filter="grade">保 存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let $ = layui.jquery,
            form = layui.form;

        form.on('submit(grade)', function (data) {
            let params = data.field;
            console.log(params)
            return false

            $.post("{:url('/HouseRate/update')}", params, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                    layer.msg(res.msg, option, function () {
                        parent.layer.close(frameIndex);
                        parent.layui.table.reload('currentTable');
                    });
                } else {
                    layer.msg(res.msg, option);
                }
            });

            return false;
        });

    });
</script>

{/block}
