{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
<style>
    .logo-title {
        text-align: center;
        letter-spacing: 2px;
        padding: 14px 0;
    }

    .logo-title h1 {
        color: #1E9FFF;
        font-size: 25px;
        font-weight: bold;
    }

    .login-form {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 14px 20px;
        box-shadow: 0 0 8px #eeeeee;
    }

    .login-form .layui-form-item {
        position: relative;
    }

    .login-form .layui-form-item label {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 100px;
        line-height: 20px;
        text-align: center;
        color: #565656;
    }

    .layui-form-item .layui-input-block {
        margin-left: 130px;
    }
</style>
{/block}
{block name="body"}
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col col-lg-10 col-md-12 bg-white">
            <form class="layui-form layuimini-form" action="">
                <input type="hidden" name="id" value="{$rate.id}">
                <div class="layui-form-item logo-title">
                    <h1>评 级</h1>
                </div>

                <div class="layui-form-item border-top mb-4">
                    <label class="layui-form-label" for="foundation_safety_rate">地基基础安全排查:</label>
                    <div class="layui-input-block" id="foundation_safety_rate">
                        {foreach $FoundationSafetyRateList as $key => $val}
                        <input type="radio" class="layui-input" name="foundation_safety_rate" value="{$key}"  lay-verify="required" title="{$val}" {if $key === $rate.foundation_safety_rate}checked{/if}>
                        {/foreach}
                    </div>
                    <div class="layui-input-block" id="foundation_rate">
                        <div>
                            {foreach $FoundationRateList as $key => $val}
                            <div>
                                <input type="checkbox" lay-skin="primary" name="foundation_rate[]" value="{$key}" title="{$val}" {if isset($rate.foundation_rate) && in_array($key, $rate.foundation_rate)}checked{/if}>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item border-top">
                    <label class="layui-form-label" for="house_safety_rate">上部结构安全排查:</label>
                    <div class="layui-input-block" id="house_safety_rate">
                        {foreach $HouseSafetyRateList as $key => $val}
                        <input type="radio" class="layui-input" name="house_safety_rate" value="{$key}"  lay-verify="required" title="{$val}" {if $key === $rate.house_safety_rate}checked{/if}>
                        {/foreach}
                    </div>
                </div>
                <div class="layui-form-item mb-4">
                    <label class="layui-form-label" for="house_danger_frame_rate">危险:</label>
                    <div class="layui-input-block mb-4" id="house_danger_frame_rate">
                        <div>混凝土构件：</div>
                        {foreach $HouseDangerFrameRateList as $key => $val}
                        <div>
                            <input type="checkbox" lay-skin="primary" name="house_danger_frame_rate[]" value="{$key}" title="{$val}" {if isset($rate.house_danger_frame_rate) && in_array($key,$rate.house_danger_frame_rate)}checked{/if}>
                        </div>
                        {/foreach}
                    </div>
                    <div class="layui-input-block" id="house_danger_roof_rate">
                        <div>悬挑梁、板（雨篷）：</div>
                        {foreach $HouseDangerRoofRateList as $key => $val}
                        <div>
                            <input type="checkbox" lay-skin="primary" name="house_danger_roof_rate[]" value="{$key}" title="{$val}" {if isset($rate.house_danger_roof_rate) && in_array($key, $rate.house_danger_roof_rate)}checked{/if}>
                        </div>
                        {/foreach}
                    </div>
                </div>
                <div class="layui-form-item mb-4">
                    <label class="layui-form-label" for="house_latent_danger_frame_rate">潜在危险:</label>
                    <div class="layui-input-block" id="house_latent_danger_frame_rate">
                        <div>混凝土构件：</div>
                        {foreach $HouseLatentDangerFrameRateList as $key => $val}
                        <div>
                            <input type="checkbox" lay-skin="primary" name="house_latent_danger_frame_rate[]" value="{$key}" title="{$val}" {if isset($rate.house_latent_danger_frame_rate) && in_array($key, $rate.house_latent_danger_frame_rate)}checked{/if}>
                        </div>
                        {/foreach}
                    </div>
                </div>
                <div class="layui-form-item mb-4">
                    <label class="layui-form-label" for="house_safety_remark">其他需要说明的危险性问题:</label>
                    <div class="layui-input-block" id="house_safety_remark">
                        <textarea name="house_safety_remark" class="layui-textarea" lay-verify="required"
                                  placeholder="请输入其他问题">{$rate.house_safety_remark}</textarea>
                    </div>
                </div>

                <div class="layui-form-item border-top">
                    <label class="layui-form-label" for="final_rate">排查结论:</label>
                    <div class="layui-input-block" id="final_rate">
                        {foreach $FinalRateList as $key => $val}
                        <div>
                            <input class="layui-input" type="radio" lay-skin="primary" name="final_rate" value="{$key}" title="{$val}" {if $key === $rate.final_rate}checked{/if}>
                        </div>
                        {/foreach}
                    </div>
                </div>

                <div class="layui-form-item my-5">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                            lay-filter="grade">保 存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let $ = layui.jquery,
            form = layui.form;
        let frameIndex = parent.layer.getFrameIndex(window.name), option = { icon: 2 };
        form.on('submit(grade)', function (data) {
            let params = data.field;

            if (!params['foundation_safety_rate']) {
                layer.msg('请选择"地基基础安全排查"', option)
                return false
            }

            if (!params['house_safety_rate']) {
                layer.msg('请选择"上部结构安全排查"', option)
                return false
            }

            if (!params['final_rate']) {
                layer.msg('请选择"排查结论"', option)
                return false
            }

            $.post("{:url('/HouseRate/update')}", params, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                    layer.msg(res.msg, option, function () {
                        parent.layer.close(frameIndex);
                        parent.layui.table.reload('currentTable');
                    });
                } else {
                    layer.msg(res.msg, option);
                }
            });

            return false;
        });

    });
</script>

{/block}
