{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
<style>
    .logo-title {
        text-align: center;
        letter-spacing: 2px;
        padding: 14px 0;
    }

    .logo-title h1 {
        color: #1E9FFF;
        font-size: 25px;
        font-weight: bold;
    }

    .login-form {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 14px 20px;
        box-shadow: 0 0 8px #eeeeee;
    }

    .login-form .layui-form-item {
        position: relative;
    }

    .login-form .layui-form-item label {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 100px;
        line-height: 20px;
        text-align: center;
        color: #565656;
    }

    .layui-form-item .layui-input-block {
        margin-left: 130px;
    }
</style>
{/block}
{block name="body"}
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col col-lg-8 col-md-10 bg-white">
            <form class="layui-form layuimini-form" action="">
                <input type="hidden" name="id" value="{$rate.id}">
                <div class="layui-form-item logo-title">
                    <h1>评 级</h1>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="place_rate">场地排查:</label>
                    <div class="layui-input-block" id="place_rate">
                        {foreach ($placeRateList as $key => $val)}
                        <input type="radio" class="layui-input" name="place_rate" value="{$key}" lay-verify="required" title="{$val}" {if ($rate.place_rate === $key)}checked{/if}>
                        {/foreach}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="foundation_rate">地基基础排查:</label>
                    <div class="layui-input-block" id="foundation_rate">
                        {foreach ($foundationRateList as $key => $val)}
                        <input type="radio" name="foundation_rate" value="{$key}" title="{$val}" {if ($rate.foundation_rate === $key)}checked{/if}>
                        {/foreach}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="main_rate">主体结构排查:</label>
                    <div class="layui-input-block" id="main_rate">
                        {foreach ($mainRateList as $key => $val)}
                        <input type="radio" name="main_rate" value="{$key}" title="{$val}" {if ($rate.main_rate === $key)}checked{/if}>
                        {/foreach}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="house_safety_rate">房屋安全隐患排查类别:</label>
                    <div class="layui-input-block" id="house_safety_rate">
                        {foreach ($houseSafetyRateList as $key => $val)}
                        <input type="radio" name="house_safety_rate" value="{$key}" title="{$val}" {if ($rate.house_safety_rate === $key)}checked{/if}>
                        {/foreach}
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="suggestion">处理建议:</label>
                    <div class="layui-input-block m-0" id="suggestion">
                        <textarea name="suggestion"  placeholder=""
                               autocomplete="off" class="layui-textarea"
                                  style="height: 150px;"
                        >{$rate.suggestion}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                            lay-filter="edit">保 存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script>
    layui.use(['form','laydate'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            form = layui.form;

        let frameIndex = parent.layer.getFrameIndex(window.name);

        // 进行登录操作
        form.on('submit(edit)', function (data) {
            let params = data.field, option = { icon: 2 };

            if (!params['place_rate']) {
                console.log(params)
            }
            console.log(data);
            return false
            $.post("{:url('/HouseRate/update')}", params, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                    layer.msg(res.msg, option, function () {
                        parent.layer.close(frameIndex);
                        parent.layui.table.reload('currentTable');
                    });
                } else {
                    layer.msg(res.msg, option);
                }
            });

            return false;
        });

    });
</script>

{/block}
